*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background: black;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    color: #04FF95;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
    position: absolute;
    top: 15%;
}

.slide-container{
    max-width: 1120px;
    width: 100%;
    padding: 40px 0;
}

.slide-content{
    margin: 0 40px;
    overflow: hidden;
    border-radius: 25px;
}

.card{
    border-radius: 25px;
    background-color: white;
}

.image-content,
.card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
}

.image-content{
    position: relative;
    row-gap: 5px;
    padding: 20px 0;
}

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #01df8a;
    border-radius: 25px 25px 0 25px;
}

.overlay::before,
.overlay::after{
    position: absolute;
    content: '';
    height: 40px;
    width: 40px;
    right: 0;
    bottom: -40px;
    background-color: #01df8a;
}

.overlay::after{
    border-radius: 0 25px 0 0;
    background-color: white;
}

.card-image{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    background: white;
    padding: 3px;
}

.card-image .card-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 4px solid #01df8a;
}

.name{
    font-size: 18px;
    font-weight: 500;
    color: #333;
}

.description{
    font-size: 14px;
    color: #707070;
    text-align: center;
}

.button{
    border: none;
    font-size: 16px;
    font-weight: 500;
    color: black;
    padding: 8px 16px;
    background-color: #01df8a;
    border-radius: 6px;
    margin: 12px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button:hover{
    background: #04FF95;
}

.swiper-navBtn:hover{
    color: #01df8a;
}

/*---News Ticker---*/
.news-container{
    position: fixed;
    top: 93%;
    left: 0;
    right: 0;
    border-color: #04FF95;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-shadow: 0 4px 8px -4px rgba(0, 253, 114, 0.5);
}

.news-container .title{
    position: absolute;
    background: #04FF95;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 24px;
    color: black;
    font-weight: 500;
    z-index: 200;
}

.news-container ul{
    display: flex;
    list-style: none;
    margin: 0;
    animation: scroll 20s infinite linear;
}

.news-container ul li{
    white-space: nowrap;
    padding: 10px 24px;
    color: #04FF95;
    position: relative;
}

.news-container ul li::after{
    content: "";
    width: 2px;
    height: 90%;
    background: #04FF95;
    position: absolute;
    top: 0;
    right: 0;
}

.news-container ul li:last-child::after{
    display: none;
}

@keyframes scroll{
    from{
        transform: translateX(100%);
    }

    to{
        transform: translateX(-1083px);
    }
}

/*----- Navigation Bar ----- */
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}

.logo{
    font-size: 2em;
    color: white;
    user-select: none;
}

.navbar a{
    position: relative;
    font-size: 1.1em;
    color: #04FF95;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
}

.navbar a::after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background: #04FF95;
    border-radius: 5px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .5s;
}

.navbar a:hover::after{
    transform-origin: left;
    transform: scaleX(1);
}

